*{
    box-sizing: border-box;
}
.header{
    background-image:url('images/Banner.jpg');
    margin:0;
    background-size: cover;
    height:320px;
    width: 100%;
    color:rgb(112, 112, 112);
    text-align: center;
}

.col-2 a i{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.col-3 a i{
    color: black;
    font-size: 20px;
    text-decoration: none;
    i{
    margin-right: 10px;
}
}
.col-4 a i{
    color: black;
    font-size: 20px;
    text-decoration: none;
    i{
    margin-right: 10px;
}
}
.col-2 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    i{
    margin-right: 10px;
}
}
.col-3 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    i{
    margin-right: 10px;
}
}
.col-4 a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    i{
    margin-right: 10px;
}
}
.icon{
  color: black;
  margin-top: 10px;
  margin-left: 1px;
  width: 40px;
  margin-left: 15px;
    i{
      font-size: 25px;
    }
}

.login{
  margin-top: 1px;
    a{
      color: black;
      text-decoration: none;
    }
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c4c4c4;
    position: fixed;
    width: 99%;
    margin-top: 0px;
  }
.underheader{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  position: left;
  position: fixed;
  width: 99%;
  margin-top: -275px;

}
.underheader p{
  color: white;
  font-size: 13px;
}

.logozando{
  margin-top: 10px;
  margin-left: 270px;
  width: 100px;
  height: 25px;

  }
.search input{
  width: 170px;
  height: 40px;
  padding: 10px;
  margin-top: 3px;
  font-size: 17px;
  border: none;
  margin-left: 75px;
}


  
 .header li {
    float: left;
  }
  
 .header li a,.header .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .header li.dropdown {
    display: inline-block;
  }
  
  .header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .price del{
    color: red;
  }
  .row .arrival{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);}

img{
    max-width:100%;
}
video{
    max-width: 100%;
}
h3{
    text-transform: uppercase;
}

.row::after{
    content:"";
    clear:both;
    display:table;
}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:51.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

[class*="col-"]{
    float:left;
    padding:15px;
}

@media only screen and (max-width:768px){
    /*for mobile phoes:*/
    [class*="col-"]{
        width:100%;
        background-color: bisque;
    }
}